*{
  margin: 0;
  padding: 0;
}


.flyer{
  display: grid;
  grid-template-rows: 14% 1fr 10%;
  grid-template-columns: 75px 1fr;
  grid-template-areas: 
  "drop header"
  "drop display"
  "footer footer";
  width: 100vw;
  height: 100vh;
background-color: rgb(140, 212, 229);
}


.header{
  grid-area: header;
  background-color: darkseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
}


.menuTaco{
    position: fixed;
    left: -40px;
    top: -50px;
    width: 200px;
    z-index: 1;
}

.menuTacoUpright:hover{
animation: tilt-shaking 0.65s infinite;
}

.menuTacoTilt{
    animation: up-tilt-shaking 0.65s infinite;
}

  .dropDown{
    grid-area: drop;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;

  }
  .dropdown-menu{
    height: 7vh;
    width: 7vh;
    margin: 1px;
    /* position: fixed; */
    z-index: 0;
    left: 20px;
    /* top: calc(20% + .25rem); */
    padding: .75rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    background-color:  rgb(140, 212, 229, .8);
    opacity: 1;
    /* transform: translateY(-150px); */
    transition: opacity 150ms ease-in-out, transform .7s ease-in-out;
  }
  .dropdown-menu:hover{
    background-color: hotpink;
  }
 .dropdown-menu-inactive{
  transform: translateY(-500px);
 }
  
  .dropdown-menu-active0{
    transition-delay: 1.5s;
    opacity: 1;
 
  }
  .dropdown-menu-active1{
    transition-delay: 1.25s;
    opacity: 1;

  }
  .dropdown-menu-active2{
    transition-delay: 1s;
    opacity: 1;
   
  }
  .dropdown-menu-active3{
    transition-delay: .75s;
    opacity: 1;
   
  }
  .dropdown-menu-active4{
    transition-delay: .5s;
    opacity: 1;

  }
  .dropdown-menu-active5{
    transition-delay: .25s;
    opacity: 1;

  }
  .dropdown-menu-active5{

    opacity: 1;
  
}

  #taco{
    z-index: 1;
  }

  .tomato{
   position: fixed;
   left: 30px;
   top: 0px;
   z-index: 0;
    max-width: 50px;

  }




  .falling{
    animation: falling;
    animation-timing-function: linear;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;

  }
  #tomato2{
    animation-delay: 1s;
}
    #lettuce{
        animation-delay: .5s; 
    }

    #lettuce2{
        animation-delay: 1.25s; 
    }
    #onion{
        animation-delay: .25s;
    }
    #onion2{
      animation-delay: .75s;
  }

  .footer{
    
    height: 10vh;
    grid-area: footer;
    background-color: tomato;
  }

    .hidden{
        opacity: 0;
    }

  @keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(2deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-2deg); }
    100% { transform: rotate(0deg); }
  }
  @keyframes up-tilt-shaking {
    0% { transform: rotate(50deg); }
    25% { transform: rotate(52deg); }
    50% { transform: rotate(50deg); }
    75% { transform: rotate(48deg); }
    100% { transform: rotate(50deg); }
  }
  
  @keyframes falling {
    0% { transform: translatey(0) translateX(0) rotate(0deg); opacity: 1;}
    20% {transform: translatey(16vh) translateX(3px) rotate(72deg);  opacity: 1;}
    40% {transform: translatey(32vh) translateX(-3px) rotate(144deg); opacity: 1;}
    60% {transform: translatey(48vh) translateX(3px) rotate(216deg); opacity: .66;}
    80% {transform: translatey(64vh) translateX(-3px) rotate(288deg); opacity:.33;}
   100% { transform: translatey(80vh) translateX(0px) rotate(360deg); opacity: 0;}
  }
 
