:root {
  --bgmain: rgb(140, 212, 229);
  --white: #ffffff;
  --footer: 5vh;
}

*{
  margin: 0;
  padding: 0;
}


.flyer{
  display: grid;
  grid-template-rows: 14% 1fr var(--footer);
  grid-template-columns:  1fr 20%;
  grid-template-areas: 
  "header drop"
  "display drop"
  "footer footer";
  width: 100vw;
  height: 100vh;
background-color: rgb(140, 212, 229);
}


.menu-taco{
    position: fixed;
    right: 0px;
    top: -5px;
    /* width: 130px; */
    /* width: 8.125rem; */
    width: 30vw;
    z-index: 1;
}

.menu-taco-upright:hover{
animation: tilt-shaking 0.65s infinite;
}

.menu-taco-tilt{
    animation: up-tilt-shaking 0.65s infinite;
}
.header{
  grid-area: header;    
  /* background-color: darkseagreen; */
  background-color: var(--bgmain);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  margin: .25rem;
}

#logo{
  max-width: 80%;
  /* opacity: 50%; */
}








  .dropDown{
    grid-area: drop;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
  }

  .dropdown-menu>a{
    color: black;
    text-decoration: none;
  }

  .dropdown-menu{
    height: 7vh;
    width: 7vh;
    margin: 1px;
    /* position: fixed; */
    z-index: 0;
    right: 0;
    /* top: calc(20% + .25rem); */
    padding: .75rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    background-color:  rgb(140, 212, 229, .8);
    opacity: 1;
    /* transform: translateY(-150px); */
    transition: opacity 150ms ease-in-out, transform .7s ease-in-out;
  }
  .dropdown-menu:hover{
    background-color: hotpink;
  }
 .dropdown-menu-inactive{
  transform: translateY(-500px);
 }
  
  .dropdown-menu-active0{
    transition-delay: 1.5s;
    opacity: 1;
 
  }
  .dropdown-menu-active1{
    transition-delay: 1.25s;
    opacity: 1;

  }
  .dropdown-menu-active2{
    transition-delay: 1s;
    opacity: 1;
   
  }
  .dropdown-menu-active3{
    transition-delay: .75s;
    opacity: 1;
   
  }
  .dropdown-menu-active4{
    transition-delay: .5s;
    opacity: 1;

  }
  .dropdown-menu-active5{
    transition-delay: .25s;
    opacity: 1;

  }
  .dropdown-menu-active5{

    opacity: 1;
  
}

  #taco{
    z-index: 1;
  }

  .tomato{
  position: fixed;
  right: 45px;
  top: 30px;
  z-index: 0;
  max-width: 50px;
  transition: opacity 5s ease-in;
  }

  .falling{
    animation: falling;
    animation-timing-function: linear;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;

  }
  #tomato2{
    animation-delay: 1s;
}
    #lettuce{
        animation-delay: .5s; 
    }
    #lettuce2{
        animation-delay: 1.25s; 
    }
    #onion{
        animation-delay: .25s;
    }
    #onion2{
      animation-delay: .75s;
  }


.homeDisplay{
  background-color: var(--bgmain);
  position:fixed;  
  /* top:0; */
  z-index: 2;
  flex-grow: 1;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-content: center;
  align-content: center; */
  align-items: center;
   
}


                                            /* SLIDER */
                                            img {
                                              margin: auto;
                                              display: block;
                                              width: 100%;
                                            }
                                            /* Our main images-slideshow container */
                                            .images-slideshow {
                                              max-width: 90%;
                                              position: relative;
                                              margin: 0;
                                            }
                                            /* setting the position of the previous button towards left */
                                            .previous {
                                              left: 2%;
                                            }
                                             /* setting the position of the next button towards right */
                                            .next {
                                              right: 2%;
                                            }
                                            /* On hover, adding a background color */
                                            .previous:hover,
                                            .next:hover {
                                              color: rgb(255, 253, 253);
                                              background-color: rgba(0, 0, 0, 0.8);
                                            }


                                            /* The Modal (background) */
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* display: none; Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  /* left: 25%; */
  /* right: 50%; */
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* align-items: center; */
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 70vw; /* Could be more or less, depending on screen size */
  height: 70vw;
}

/* The Close Button */
.close {
  color: #aaa;
  float: left;
  font-size: 28px;
  font-weight: bold;
  /* margin: .1rem; */
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#hours_title{
  margin: 1rem;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48,
  
  /* font-size: 50px; */


}

#hours{
  font-size: 7rem;
}
#social{
  font-size: 7rem;
}
#location{
  font-size: 7rem;
}

.landIcon{
  
  font-size: large;
}

.displayMenu{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0 .5rem;
  overflow: scroll;
}

.menuItem{
  background-color: rgba(182, 237, 250, 0.3);
  margin: .25rem;
  padding: .5rem;
}
.temp_item{
font-size: 1.25rem;
text-decoration: underline;
}


.temp_price{
  float: right;
  font-style: italic;
}

.temp_plate{
  margin-top: .5rem;
}



.menuCategory{
  /* background-color: crimson; */
}


.ribbon{
  /* position: absolute;
  clip: rect(0px,10%,0px,0px); */

}

.categoryTitle{
  background-color: rgba(255, 255, 255, 0.105);
  /* box-shadow: 2px 2px 5px rgba(255, 254, 254, 0.22); */
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  
}

.menuDesc{
  background-color: var(--bgmain);
  padding: 1rem;
}

  .footer{
    height: var(--footer);
    width: 100%;
    grid-area: footer;
    background-color: tomato;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    /* justify-items: center; */

  }

    .hidden{
        opacity: 0;
        pointer-events: none;
    }

  @keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(2deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-2deg); }
    100% { transform: rotate(0deg); }
  }
  @keyframes up-tilt-shaking {
    0% { transform: rotate(-50deg); }
    25% { transform: rotate(-52deg); }
    50% { transform: rotate(-50deg); }
    75% { transform: rotate(-48deg); }
    100% { transform: rotate(-50deg); }
  }
  
  @keyframes falling {
    0% { transform: translatey(0) translateX(0) rotate(0deg); opacity: 1;}
    20% {transform: translatey(16vh) translateX(3px) rotate(72deg);  opacity: 1;}
    40% {transform: translatey(32vh) translateX(-3px) rotate(144deg); opacity: 1;}
    60% {transform: translatey(48vh) translateX(3px) rotate(216deg); opacity: .66;}
    80% {transform: translatey(64vh) translateX(-3px) rotate(288deg); opacity:.33;}
   100% { transform: translatey(80vh) translateX(0px) rotate(360deg); opacity: 0;}
  }
 
