:root {
  --bgmain: rgb(140, 212, 229);
  --white: #ffffff;
  --footer: 5vh;
  --header: clamp(250px, 14%, 300px);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}




body{
  background-color: var(--bgmain);
  overflow-x: hidden;
}

@font-face {
  font-family: "cowboy";
  src: url("./src/beardsons-font/BeardsonsNormal-rgmY8.ttf");
}
      
#companyLogo{
  font-family: "cowboy";
  font-size: clamp(40px, 4vw, 500px);
}

.flyer{
  display: grid;
  grid-template-rows: clamp(50px, 8vw, 540px) 1fr var(--footer);
  grid-template-columns: 1fr 20vw;
  grid-template-areas: 
  "header drop"
  "display drop"
  "footer footer";
  width: 100vw;
  height: 100vh;
  max-width: 100%;
background-color: rgb(140, 212, 229);
}

#taco{
    position: fixed;
    right: 15px;
    top: 0px;
    width: clamp(120px, 12vw, 280px);
    z-index: 90;
}

.menu-taco-upright:hover{
animation: tilt-shaking 0.65s infinite;
}

.menu-taco-tilt{
    animation: up-tilt-shaking 0.65s infinite;
}
.header{
  position: static;
  grid-area: header;    
  padding-left: 20vw;
  padding-top: 4vw;
  padding-bottom: 1vw;
  /* background-color: var(--bgmain); */
  /* background-color: pink; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: .5rem; */
  /* margin: .25rem; */
}
#companyLogo{
  /* margin-left: 20vw; */
}
  .dropDown{
    /* position: static; */
    padding-top: clamp(100px, 18vw, 600px);
    padding-bottom: clamp(40px, 10vw, 600px);
    grid-area: drop;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    gap: 1vw;
  }

  .dropdown-menu>a{
    color: black;
    text-decoration: none;
  
  }

  .dropdown-menu{
    /* margin-left: auto; */
    /* margin-top: 7vw; */
    height: max(7vw, 80px);
    width: max(14vw, 80px);
    margin: 1px;
    /* position: fixed; */
    z-index: 0;
    right: 0;
    /* top: calc(20% + .25rem); */
    padding: .75rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    background-color:  rgb(140, 212, 229, .8);
    opacity: 1;
    /* transform: translateY(-150px); */
    transition: opacity 150ms ease-in-out, transform .7s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "cowboy";
    font-size: clamp(1rem, 2.5vw, 2.5rem);
  }

.dropdown-menu>h2{
  font-size: 5rem;
}


  .dropdown-menu:hover{
    background-color: hotpink;
  }
 .dropdown-menu-inactive{
  transform: translateY(-500px);
 }
  
  .dropdown-menu-active0{
    transition-delay: 1.5s;
    opacity: 1;
 
  }
  .dropdown-menu-active1{
    transition-delay: 1.25s;
    opacity: 1;

  }
  .dropdown-menu-active2{
    transition-delay: 1s;
    opacity: 1;
   
  }
  .dropdown-menu-active3{
    transition-delay: .75s;
    opacity: 1;
   
  }
  .dropdown-menu-active4{
    transition-delay: .5s;
    opacity: 1;

  }
  .dropdown-menu-active5{
    transition-delay: .25s;
    opacity: 1;

  }
  .dropdown-menu-active5{

    opacity: 1;
  
}

  #taco{
    z-index: 1;
  }

  .tomato{
  position: fixed;
  right: max(55px,6vw);
  top: 8vw;
  z-index: 0;
  width: max(60px, 6vw);
  transition: opacity 5s ease-in;
  }

  .falling{
    animation: falling;
    animation-timing-function: linear;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;

  }
  #tomato2{
    animation-delay: 1s;
}
    #lettuce{
        animation-delay: .5s; 
    }
    #lettuce2{
        animation-delay: 1.25s; 
    }
    #onion{
        animation-delay: .25s;
    }
    #onion2{
      animation-delay: .75s;
  }


.homeDisplay{
  /* background-color:darkorange; */
  /* position: relative; */
  z-index: 2;
  flex-grow: 1;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 1vw;
  overflow-y: hidden;
  scroll-behavior: none;

}
.displayMenu{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0rem;
  overflow: scroll;
  grid-area: "display";
  padding-left: 20vw;
}


                                            /* SLIDER */
                                            img {
                                              margin: 0;
                                              display: inline-block;
                                              width: 100%;
                                            }
                                            /* Our main images-slideshow container */
                                            .images-slideshow {
                                              width: clamp(300px, 40%, 500px);
                                              position: relative;
                                              margin: 0;
                                            }
                                            /* setting the position of the previous button towards left */
                                            .previous {
                                              left: 2%;
                                            }
                                             /* setting the position of the next button towards right */
                                            .next {
                                              right: 2%;
                                            }
                                            /* On hover, adding a background color */
                                            .previous:hover,
                                            .next:hover {
                                              color: rgb(255, 253, 253);
                                              background-color: rgba(0, 0, 0, 0.8);
                                            }


                                            /* The Modal (background) */
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 70vw; /* Could be more or less, depending on screen size */
  height: 70vw;
}


.clickables{
  display: flex;
  flex-direction: row;
  z-index: 5;
}

#addy{
  margin-top: 5px;
  background-color: #fefefe;
}

/* The Close Button */
.close {
  color: #aaa;
  float: left;
  font-size: 28px;
  font-weight: bold;
  /* margin: .1rem; */
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#hours_title{
  margin: 1rem;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48,
}

#hours{
  font-size: 7rem;
}
#social{
  font-size: 7rem;
}
#location{
  font-size: 7rem;
}






.landIcon{
  font-size: large;
}



.menuItem{
  background-color: rgba(182, 237, 250, 0.3);
  margin: 1.25rem;
  padding: .5rem;
}
.temp_item{
font-size: 1.25rem;
/* text-decoration: underline; */
}


.temp_price{
  float: right;
  font-style: italic;
}

.temp_plate{
  margin-top: .5rem;
}


.categoryTitle{
  background-color: rgba(255, 255, 255, 0.105);
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

}
.categoryTitle > h2{
  font-size: clamp(1rem, 6vw, 4.5rem);
  font-family: "cowboy";  
}

.categoryTitle > a{
  font-family: "cowboy";
}

.menuDesc{
  background-color: var(--bgmain);
  padding: max(.5rem,5vw);
}

  .footer{
    height: var(--footer);
    width: 100%;
    grid-area: footer;
    /* background-color: tomato; */
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex: 1;
    padding-right: 1rem;
    justify-content: flex-end;
    align-items: center;
  }

 

  @keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(2deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-2deg); }
    100% { transform: rotate(0deg); }
  }
  @keyframes up-tilt-shaking {
    0% { transform: rotate(-50deg); }
    25% { transform: rotate(-52deg); }
    50% { transform: rotate(-50deg); }
    75% { transform: rotate(-48deg); }
    100% { transform: rotate(-50deg); }
  }
  
  @keyframes falling {
    0% { transform: translatey(0) translateX(0) rotate(0deg); opacity: 1;}
    20% {transform: translatey(16vh) translateX(3px) rotate(72deg);  opacity: 1;}
    40% {transform: translatey(32vh) translateX(-3px) rotate(144deg); opacity: 1;}
    60% {transform: translatey(48vh) translateX(3px) rotate(216deg); opacity: .66;}
    80% {transform: translatey(64vh) translateX(-3px) rotate(288deg); opacity:.33;}
   100% { transform: translatey(80vh) translateX(0px) rotate(360deg); opacity: 0;}
  }
 


  .hidden{
    display: none;
    pointer-events: none;
  }